* {

    margin: 0px auto;
    width: 1024px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;
}

body {

    background-image: url(second\ bg.jpg);
    background-color: rgba(14, 112, 9, 0.697);
    z-index: 0;

}

header {

    background-color: rgba(191, 237, 172, 0.752);
    text-align: center;
    z-index: 1;
    width: 1380px;
    position: relative;
    right: 178px;
    height: 310px;
}

header img {

    width: 100px;
    height: 100px;

}

main {

    z-index: 2;
    text-align: center;
    background-color: rgba(255,255,255, 0.9);
    position: relative;
    bottom: 60px;
    height: 1600px;

}

/* these two are responsible for the images and the main area width */

main section {

    width: 1000px;


}

div {

    display: flex;
    flex: 50%;
    
}

/* these are all of the images area and the captions */

.energy a {

    position: relative;
    top: 310px;
    right: 410px;
    width: auto;
    white-space: nowrap;
    display: block;
    font-size: 22px;
    color: darkgreen;
}

.energy a:hover {

    color: limegreen;
    text-decoration-color: limegreen;
}

.energy {

    width: 450px;
    height: 300px;
    float: left;
    position: relative;
}

.energy img {

    width: 450px;
    height: 300px;
    position: relative;
    left: 20px;
}

/* above is the first image */

.susqatar a {

    position: relative;
    top: 310px;
    right: 320px;
    width: auto;
    white-space: nowrap;
    display: block;
    font-size: 22px;
    color: darkgreen;
}

.susqatar a:hover {

    color: limegreen;
    text-decoration-color: limegreen;
}

.susqatar {

    width: 450px;
    height: 300px;
    position: relative;
}

.susqatar img {

    width: 450px;
    height: 300px;
    position: relative;
    left: 20px;
}

/* above is the second image */

.water a {

    position: relative;
    top: 310px;
    right: 320px;
    width: auto;
    white-space: nowrap;
    display: block;
    font-size: 22px;
    color: darkgreen;
}

.water a:hover {

    color: limegreen;
    text-decoration-color: limegreen;
}

.water {

    width: 450px;
    height: 300px;
    position: relative;
    float: left;
    top: 50px;

}

.water img {

    width: 450px;
    height: 300px;
    position: relative;
    left: 20px;
}


/* above is the third image */

.food a {

    position: relative;
    top: 310px;
    right: 410px;
    width: auto;
    white-space: nowrap;
    display: block;
    font-size: 22px;
    color: darkgreen;
}

.food a:hover {

    color: limegreen;
    text-decoration-color: limegreen;
}

.food {

    width: 450px;
    height: 300px;
    position: relative;
    top: 50px;
}

.food img {

    width: 450px;
    height: 300px;
    position: relative;
    left: 20px;
}


/* above is the fourth image */

.tech a {

    position: relative;
    top: 310px;
    right: 420px;
    width: auto;
    white-space: nowrap;
    display: block;
    font-size: 22px;
    color: darkgreen;
}

.tech a:hover {

    color: limegreen;
    text-decoration-color: limegreen;
}

.tech {

    width: 450px;
    height: 300px;
    position: relative;
    float: left;
    top: 100px;
}

.tech img {

    width: 450px;
    height: 300px;
    position: relative;
    left: 20px;
}

/* above is the fifth image */

.survey a {

    position: relative;
    top: 310px;
    right: 420px;
    width: auto;
    white-space: nowrap;
    display: block;
    font-size: 22px;
    color: darkgreen;
}

.survey a:hover {

    color: limegreen;
    text-decoration-color: limegreen;
}

.survey {

    width: 450px;
    height: 300px;
    position: relative;
    top: 100px;
}

.survey img {

    width: 450px;
    height: 300px;
    position: relative;
    left: 20px;
}

/* above is the sixth image */

/* above this contains the css code for all the images and captions in the research page */

.end {

    position: relative;
    top: 250px;
}

/* this div is for controlling the footer of this main area */

.further {

    width: 150px;
    height: 70px;
    margin-top: 95px;
    font-size: 20px;
    text-shadow: 2px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    border: none;
    position: relative;
    left: 380px;
    bottom: 120px;

}

.further:hover {

    box-shadow: inset;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    color: darkgreen;
    transition-duration: 0.9984721110051113s;
    border: 2px solid darkgreen;

}

.end hr {

    background-color: darkgreen;
    width: 1600px;
    height: 3px;
    position: relative;
    left: 80px;
    top: 70px;

}

.end p {

    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    margin-top: 2px;
    padding-top: 5px;
    position: relative;
    right: 310px;
    top: 70px;
    white-space: nowrap;

}

.end p span {

    font-weight: bold;
    font-size: 25px;
}

header button {

    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    background-color: white;
    color: darkgreen;
    position: relative;
    right: 600px;
    top: 20px;
    border-radius: 25px;
    padding-bottom: 5px;
    

}

header button:hover {

    background-color: darkgreen;
    color: white;
    cursor: default;
    transition: 0.99211510005s;

}

.sidenavig {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenavig a {

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: darkgreen;
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.sidenavig a:hover {

    color: palegreen;
}

.sidenavig .closebutton {

    position: absolute;
    top: 5px;
    font-size: 55px;
    left: 160px;

}

@media screen and (max-height:300px) {
    .sidenavig {padding-top: 15px;}
    .sidenavig a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 600px;
    }

    html {

        overflow-x:hidden;
    }

    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        right: 0;
        height: auto;
    }
    
    header h1 {

        position: relative;
        right: 50px;
    }

    header h3 {

        position: relative;
        right: 50px;
    }

    header img {
        width: 50px;
        height: 50px;
        position: relative;
        right: 50px;
    }

    main {
        text-align: justify;
        position: relative;
        bottom: 0;
        height: 2560px;
        padding-bottom: 20px;
        width: 100%;
        max-width: 600px;
    }

    main h2 {

        position: relative;
        left: 170px;
    }

    main p {

        padding-left: 5px;
        padding-right: 5px;
        width: 400px;
        text-align: justify;
        position: relative;
        left: 45px;
    }

    main section {
        width: 600px;
    }

    .energy, .susqatar, .water, .food, .tech, .survey {
        right: 0; /* Adjust right positioning */
        margin-bottom: 50px;
        width: 100%;
        float: none;
        position: relative;
        top: 0;
        margin-bottom: 50px; /* Increased spacing after each section */
    }

    .energy img, .water img, .food img, .tech img {
        width: 450px;
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 15px; /* Space between image and link */
        position: relative;
        left: 100px;
    }

    .susqatar img {

        width: 500px;
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 15px; /* Space between image and link */
        position: relative;
        left: 110px;
    }

    .survey img {

        width: 600px;
        height: auto;
        margin-bottom: 15px;
        position: relative;
        left: 113px;
    }

    .energy a {

        font-size: 18px;
        display: block;
        position: relative; /* Relative positioning for links */
        top: 300px; /* Position link below the image */
        right: 290px;
        color: darkgreen;
        text-align: center; /* Center text */
    }

    .susqatar a {

        font-size: 18px;
        display: block;
        position: relative; /* Relative positioning for links */
        top: 300px; /* Position link below the image */
        right: 200px;
        color: darkgreen;
        text-align: center; /* Center text */

    }

    .water a {

        font-size: 18px;
        display: block;
        position: relative; /* Relative positioning for links */
        top: 300px; /* Position link below the image */
        right: 200px;
        color: darkgreen;
        text-align: center; /* Center text */
    }

    .food a {

        font-size: 18px;
        display: block;
        position: relative; /* Relative positioning for links */
        top: 300px; /* Position link below the image */
        right: 290px;
        color: darkgreen;
        text-align: center; /* Center text */
    }

    .tech a {

        font-size: 18px;
        display: block;
        position: relative; /* Relative positioning for links */
        top: 300px; /* Position link below the image */
        right: 300px;
        color: darkgreen;
        text-align: center; /* Center text */
    }

    .survey a {

        font-size: 18px;
        display: block;
        position: relative; /* Relative positioning for links */
        top: 300px; /* Position link below the image */
        right: 290px;
        color: darkgreen;
        text-align: center; /* Center text */
    }

    .further {
        width: 120px;
        height: 50px;
        margin-top: 20px;
        font-size: 16px;
        left: 170px;
        bottom: 200px;
    }

    .end hr {
        width: 95%;
        left: 65px;
        top: -100px;
    }

    .end p {
        font-size: 16px;
        right: 160px;
        top: -85px;
    }

    header button {
        position: fixed; /* Keep the button fixed on the screen */
        width: 100px;
        height: 40px;
        font-size: 20px;
        top: 10px;
        left: 10px; /* Adjust as needed to keep it on the left */
    }

    .sidenavig a {
        font-size: 20px;
    }

    .sidenavig .closebutton {
        font-size: 40px;
        left: 120px;
    }
}

